$base: #545454;
$white: #fff;
$yellow: #f1cdb3;
$light-grey: #cdcdcd;
$dark-grey: #292929;


$body-bg: #fafafa;
$second-bg: #f6f6f6;
$mob-menu-bg:  #221f20;

$fz-huge: 44px;
$fz-big: 35px;
$fz-middle: 20px;
$fz-normal: 17px;
$fz-little: 15px;

$fz-mob-huge: 48px;