.about{
  background: $body-bg;
  padding: 90px 20px;
}
.flex-style{
  align-items: center;
}
.about-side{
  width: 50%;
  text-align: center;
}
.about-pets{
  margin-right: -30px; 
}
.about-content{
  width: 50%;
}
.about__title{
  max-width: 315px;
  margin-bottom: 35px;
}
.about__description{
  font-size: $fz-little;
  color: #4c4c4c;
  font-family: Arial;
  line-height: 24px;
  margin-bottom: 30px;
  max-width: 420px;

  &:last-child{
    margin-bottom: 0;
  }
}
/* -----_*_*_*_*_*_----- */
.our-friends{
    background: $second-bg;
    padding: 70px 0;
}
.our-friends__title{
  text-align: center;
  max-width: 400px;
  margin: 0 auto 65px;
  span{
    display: block;
  }
}
.splide {
  margin: 0 auto;
}
.splide__arrow{
  border: 2px solid $yellow;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: url("https://soft-scale.github.io/P2H/dist/images/slider-arrow.png") no-repeat center;
  transition: .3s;

  &:hover{
    transition: .3s;
    background: $yellow url("https://soft-scale.github.io/P2H/dist/images/slider-arrow.png") no-repeat center;
  }
}
.splide__arrow--prev{
  transform: rotate(180deg);
  left: -80px;
}
.splide__arrow--next{
  right: -80px;
}
.slider{
  display: flex;
  justify-content: center;
  text-align: center;
}
.slider__item{
  padding: 35px 40px;
  background: $body-bg;
  max-width: 270px;
  width: 100%;
  border-radius: 10px;
  transition: .3s;
  
  &:hover{
    transition: .3s;
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px 0px #f1f1f1; 
    box-shadow: 0px 0px 15px 0px #f1f1f1;
  }
  &:hover a{
    background: #f1cdb3;
  }
}
.slider__img{
  height: 226px;
  max-width: inherit;
}
.slider__title{
  font-size: $fz-middle;
  font-weight: normal;
  color: $base;
  line-height: 54px;
}
.slider__button{
  border: 2px solid $yellow;
  padding: 17px 0;
  text-align: center;
  color: $dark-grey;
  display: block;
  border-radius: 25px;
  font-size: $fz-normal;

  &:hover{
      background: $yellow;
  }
}
.our-friends__button{
  width: 257px;
  height: 53px;
  line-height: 53px;
  margin: 66px auto 0;
  background: $yellow;
  border-radius: 25px;
  display: block;
  text-align: center;
  font-size: $fz-normal;
  color: $dark-grey;

  &:hover{
    background: $yellow;
  }
}
/* -----_*_*_*_*_*_----- */
.help-our{
  background: $body-bg;
    padding: 70px 20px 40px;
}
.help-our__title{
  max-width: 320px;
  margin: 0 auto 65px;
  text-align: center;
}
.advantages-column{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &:last-child{
    margin-bottom: 0;
  }
}
.advantages__item{
  text-align: center;
  width: 20%;
  margin-bottom: 80px;
  height: 95px;
  &:last-child{
    margin-right: 0;
  }
  &:first-child{
    margin-left: 0;
  }
}
.advantages__title{
  font-size: $fz-middle;
  font-weight: normal;
  color: $base;
}
.advantages-box{
  height: 95px;
}
.advantages__img{
  display: block;
  margin: 0 auto 28px;
}
/* -----_*_*_*_*_*_----- */



.donate{
  padding: 70px 20px 80px;
  background: $second-bg;
}
.flex-style{
  align-items: center;
}
.donate-side{
  width: 44%;
  margin-right: 6%;
  img{
      max-width: 100%;
  }
}
.donate-content{
  width: 50%;
}
.donate__title{
  max-width: 360px;
  margin-bottom: 30px;
  span{
    display: block;
  }
}
.donate__bank{
  font-size: $fz-little;
  font-weight: normal;
  color: $base;
  margin-bottom: 10px;
  font-family: 'Times New Roman';
}
.donate__link-card{
  margin-bottom: 30px;
  max-width: 320px;
  padding: 17px 15px 17px 44px;
  text-align: center;
  background: $yellow;
  border-radius: 10px;
  font-size: 20px;
  color: $dark-grey;
  position: relative;

  &::before{
    content: '';
    width: 30px;
    height: 24px;
    position: absolute;
    left: 14px;
    top: 50%;
    margin-top: -12px;
    background: url("https://soft-scale.github.io/P2H/dist/images/bank-card.png") no-repeat;
  }
}
.donate__description{
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  max-width: 360px;
}
/* -----_*_*_*_*_*_----- */

@media screen and (max-width: 1180px) {
  .slider__item {
    margin: 0;
  }
  .splide__arrow--prev{
    left: -60px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
  .splide__arrow--next{
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 800px) {
  .about, .help-our,.our-friends{
    padding: 40px 20px;
  }
  .flex-style{
    flex-direction: column-reverse;
  }
  .about-side{
    width: 40%;
    margin-top: 40px;
    img{
      max-width: 180px;
    }
  }
  .about-content{
    width: 100%;
  }
  .about__title, .about__description{
    max-width: 100%;
  }
  .advantages__item{
    width: 33.3%;
  }
  .flex-style{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .donate-side{
    width: 100%;
    max-width: 327px;
    margin-bottom: 40px;  
  }
  .donate-content{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .splide__arrows{
    position: absolute;
    bottom: -40px;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
  }
  .splide__arrow--prev{
    left: 0;
  }
  .splide__arrow--next{
    right: 0;
  }
  .our-friends__button{
    margin: 100px auto 0;
  }
  .advantages__item{
    width: 50%;
  }
  .donate__link-card{
    font-size: 15px;
  }
}